.del{
    width: 100%;
    height: 1500px;
}
.flex{
display: flex;
justify-content: center;
align-items: center;
}
.container-fluid{
    position: relative;
    height: 100Vh;
    background-color: gray;
z-index: 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;  


}
header{
    position:fixed;
    width: 93%;
    height: 140px;
    top: 20px;
    background-color: rgba(41, 41, 41, 0.815);
    transition: 0.6s;
    z-index: 5;
    /* margin-left: auto !important; */
}
header.sticky{
    top: 5px;
    background-color: rgba(0, 0, 0, 0.232);
    color: black;
    height: 100px;
}
header::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 100%, 0% 100%, 100% 1%);
    background-color:rgb(28 48 53);
}
header.sticky::before{
    background-color: rgba(255, 255, 255, 0.728);
}
.up-head{
    position: relative;
    height: 30% ;
 
  
}
.up-head input[type="search"]{
    width: 80%;
    padding: 10px;
    background: none;
    outline: none;
    border: 2px solid rgb(28 48 53);
    color: white;
    box-shadow:  0 0 20px black;
    
}
.up-head .my-btn{
    padding: 10px 15px;
    border: 1px solid rgb(28 48 53);
    box-shadow:0 0 20px rgb(0,0,0), 1px 2px 3px rgb(255,255,255) inset;
transition: 0.2s;
}
.my-btn:hover{
    background-color: rgb(28 48 53);
    box-shadow: 0 0 0 rgb(0,0,0), -1px -2px 3px rgb(255,255,255) inset;
}
.nav-icons{
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index: 555;


}
.nav-icons i{
    font-size: 1.1rem;
    margin-left: 1rem;
    color: white;
    

}
.down-head{
height: 70%;
    display: flex;
justify-content: space-between;
align-items: center; 
margin-top: 2rem;   
transition: 0.6s;
}
.down-head.stocky{
    margin-top: 0;
}
.logo{
    font-size: 2rem;
    font-weight: 300;
    color: rgb(91, 111, 112);
    opacity: 0.85;
width: 20%;
height: 100%;
text-align: center;

}
.slider-banner{
    width: 100%;
    height: 100%;
z-index: 1;
background: url(../img/slider2.jpg) 0  0 no-repeat;
background-position: center;
background-size: cover;
}